*{
    margin:0;
    padding:0;
}

html{
    scroll-behavior: smooth;
}
.logo{
    width:25%;
    display:flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    width:28%;
    border:1px solid white;
    border-radius: 50px;
    margin:3px;
}
.hello{
    display:flex;
    background-color: rgb(81, 79, 79);
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    cursor: pointer;
}
.hello1{
    width:70%;
   /* background-color: black;*/
    display:flex;
    align-items:center;
}
.hello1 li{
    list-style: none;
    padding: 20px 30px;
}
.hello1 li a{
    text-decoration: none;
    color:rgb(227, 222, 222);
     
}
.hello1 li a:hover{
	color:#0ef;
	padding-left:5px;
	transition:1s;
}
 
.rightnav{
   /* background-color: aquamarine; */
    width:30%;
    text-align: right;
    padding :0 20px;
}
.bg1{
    background:rgba(100, 98, 98, 0.6) url('../bg1.jpg');
    background-size: cover;
    background-blend-mode:darken;
}
.bgup{
    background:rgba(99, 59, 123, 0.982) url('../bgup2.jpeg');
    background-size: cover;
    background-blend-mode:darken;
}
.firstSection{
    height:100vh;
}

.add {
    display: flex;
    margin-left:1164px;
    margin-top: 10px;
     
}
.box-main{
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 70%;
    margin:auto; 
    height:78%;
}
.firsthalf{
    width:90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.secondhalf{
    width:40%;
}
.secondhalf img{
    width:90%;
    border:4px solid #00FFFF;
    border-radius:200px;
    display: block;
    margin: auto;
    margin-left:40px;
}
.text-sub{
    font-size: 17px;
    color: rgb(219, 237, 58);
    font-family: initial;
}
.text-bigheader{
    font-size:25px;
    color:rgb(11, 228, 58);
}
.text-big1{
    font-size: 28px;
    color:rgb(228, 10, 10);
}
.text-bigmid{
    font-size: 22px;
    color:rgb(202, 46, 46);
    margin-top: -35px;
}
.Special{
    font-size: 17px;
    color:rgb(42, 102, 128);
    margin-top: -20px;
}
.text-big{
    font-size:35px;
    color:rgb(252, 255, 251);
    font-family: arial rounded MT bold;
}
.text-bigdev{
    font-size:25px;
    color:rgb(239, 245, 245);
    text-align: left;
    font-family:Bell MT;
}
.text-small1{
    font-size:18px;
    text-align: justify;
}
.text-small{
    font-size:17px;
    text-align: justify;
    color:rgb(175, 206, 91);
}
.text-smallhindi{
    font-size:16px;
    text-align: justify;
    justify-content: center;
    color:rgb(175, 206, 91);
}
.link{
    margin-top: 0%;
    padding:8px 20px;
    margin:7px 3px;
    border: 2px solid rgb(11, 235, 7);
    border-radius: 8px;
    background:none;
    color:rgb(153, 177, 106);
}
.link1{
    margin-top: 0%;
    text-align: justify;
    justify-content: center;
    background:none;
    color:white;
}
.watchgallery  a:hover{
   background-color: #fbfcfc;
   color:rgb(4, 232, 244);
}
.watchgallery{
    display: flex;
    text-align: justify;
    justify-content: center;
    padding-left: -15px;
}
.burger{
    display:none;
    position:absolute;
    cursor: pointer;
    right: 5%;
    top:15px;
}
.burgerleft{
    display:none;
    position:absolute;
    cursor: pointer;
    /*right: 5%;*/
    top:15px;
    align-items: center;
}
.line{
    width: 33px;
    background-color: white;
    height: 4px;
    margin: 5px 3px;
}
.section{
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    max-width:80%;
    margin:auto;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border:2px solid rgb(252, 252, 252);
    border-radius: 40px;
    background-color: white;
    padding-top:15px;
    padding-bottom:15px;
}
.section-left{
    flex-direction: row-reverse;
}
.paras{
    padding:0px 65px;
}
.sectiontag{
    padding:16px 0;
}
.sectionsubtag{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.thumbnail img{
    width:220px;
    border:2px solid #00FFFF;
    border-radius: 25px;
    margin :18px;   
}
.contactUs{
    background-color: aliceblue;
    height:150vh;
}
.text-center{
    text-align: center;
    color:red;
    border: 2px solid black;
}
.text-footer{
    font-size: 15px;
    text-align: center;
    padding:20px 0;
    color:aqua;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    justify-content: center;
}
.text-footer1{
    text-align: center;
    display: flex;
    padding: 4px;
    justify-content: center;
}
.text-footer2{
    text-align: center;
    display: flex;
    padding: 4px;
    justify-content: center;
}
.gallery{
    margin-left:40px;
    margin-right:40px;
    padding: 4px;
    justify-content: center;

}
.texthero{
    font-size:27px;
    color:red;
}
.backgroundfooter{
    background-color:rgb(233, 237, 239);
}
 
.form1{
    max-width: 62%;
    margin: 20px auto;
    background-color:rgb(233, 237, 239);
}
.google-map{
    max-width: 62%;
    margin: 20px auto;
    background-color:rgb(233, 237, 239);
    justify-content: center;
    display: flex;
    align-items: center;
}
.Courses{
    display: flex;
    justify-content: center;
    align-items: center;
    color:rgb(232, 10, 17);
    font-family:Open Sans;
    max-width: 70%;
    margin:auto;
    height:70%;
    font-size: 25px;
    padding:15px;
}
.subject{
    display: flex;
    justify-content: center;
    align-items: center;
    color:rgb(161, 56, 7);
    font-family:Open Sans;
    max-width: 50%;
    margin:auto;
    height:50%;
    font-size:19px;
    padding:15px;
}
.Ourcoursesbackground{
    background-color: rgb(233, 237, 239);
}

.Team{
    display: flex;
    justify-content: center;
    align-items: center;
    color:red;
    font-family: Open Sans;
    max-width: 70%;
    margin:auto;
    height:70%;
    font-size: 25px;
    padding:15px;
}
.Teambackground{
    background-color: rgb(233, 237, 239);
}
.text-teambig{
    font-size: 25px;
    color:rgb(39, 199, 66);
    text-align: center;
    margin: auto;
}
.text-teamsmall{
    font-size: 20px;
    color:rgb(36, 171, 139);
    text-align: center;
    margin: auto;
}
.text-teamsmall1{
    font-size: 20px;
    color:rgb(38, 151, 149);
    margin: auto;
    text-align: center;
}
.sectionmainteam{
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    max-width:80%;
    margin-left:100px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border:2px solid rgb(252, 252, 252);
    border-radius: 40px;
    background-color: white;
    padding-top:15px;
    padding-bottom:15px;
    
}
.sectionsectionteam-left{
    flex-direction: row-reverse;
    margin-left:150px;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    max-width:80%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border:2px solid rgb(252, 252, 252);
    border-radius: 40px;
    background-color: white;
    padding-top:15px;
    padding-bottom:15px;
}
.parasteam{
    padding:0px 65px; 
}
.sectionteamh{
    padding:4px 0;
}
.sectionteam{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.thumbnailteam img{
    width:150px;
    border:2px solid #00FFFF;
    border-radius: 80px;
    margin-left:200px;
}
.thumbnailteam1 img{
    width:150px;
    border:2px solid #00FFFF;
    border-radius: 80px;
    margin-right:180px;
}
.whyus{
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
    font-family: Open Sans;
    max-width: 70%;
    margin:auto;
    height:70%;
    font-size: 25px;
    padding:15px;
}
.notewhyus{
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
    font-size: 20px;
    padding:12px;
}
.sectionwhyus{
    display:flex;
    align-items: center;
    max-width:80%;
    margin-left: 160px;
    margin-top: 15px;
}
.text-whyus{
    color:rgb(15, 6, 6);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:18px;
}
.thumbnailwhyus img{
    width:300px;
    border:2px solid #00FFFF;
    border-radius: 160px;
    margin-left :150px;   
}
.courseimg img{
    width:1255px;
    height:420px;
    margin: auto;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
}
.whyusbackground{ 
  /*  background:rgba(0, 0, 0, 0.4) url('../img/computer1.jpg'); 
    background-size: cover;
    background-blend-mode: soft-light;    */
    background-color: rgb(236, 236, 232);
}
.paraswhyus{
    width: 600px;
    border:2px solid white;
    padding:18px;
    border-radius: 40px;
    margin-left: 10px;
    background-color: white;
}
.parasaboutus{
    width: 600px;
    border:2px solid white;
    padding:18px;
    border-radius: 40px;
    margin-left: 10px;
    background-color: white;
}
.text-aboutus{
    color:rgb(15, 6, 6);
    font-family:Bell MT;
    font-size:18px;
    text-align: justify;
}
.sectionaboutus{
    display:flex;
    align-items: center;
    max-width:80%;
    margin-top: 1px;
    justify-content: center;
    margin-left:120px; 
}
.section{
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    max-width:80%;
    margin:auto;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.contact{
    display: flex;
    justify-content: center;
    align-items: center;
    color:red;
    font-family:Open Sans;
    max-width: 70%;
    margin:auto;
    height:70%;
    font-size: 25px;
    padding:15px;
}
.contact-background{
    background-color:rgb(233, 237, 239);
}
.permition{
    text-decoration: none;
    font-weight: bold;
    display: flex;
    color: rgb(38, 219, 156);
    font-size: 15px;
    padding-top:1%;
}
.result-link{
    text-decoration: none;
    font-weight: bold;
    display: flex;
    color: rgb(68, 231, 120);
    font-size: 15px;
    animation: blink 3s infinite;
}
@keyframes result {
    0% { opacity: 5; }
    50% { opacity: 0.5; }
    100% { opacity: 5; }
}
.sticky-marquee{
    position: sticky;
    top:0%;
    background-color: yellow;
    padding: 4px;
}
.marquee-text{
    color: rgb(232, 11, 11);
    font: 1em sans-serif;
    font-size:20px;
    font-family: Open Sans;
}
.marquee {
  width: 100%;
  overflow: hidden;
  background: #dfe20c;
  color: rgb(234, 19, 19);
  padding: 10px 0;
  font-size: 18px;
}

.marquee-content {
  display: inline-block;
  white-space: nowrap;
  animation: scroll 15s linear infinite;
}

@keyframes scroll {
  0% { transform: translateX(-15%); }
  100% { transform: translateX(-90%); }
}


/* Top blinking bar */
.top-bar {
  background: black;
  color: rgb(41, 210, 18);
  text-align: center;
  padding: 8px;
  font-size: 20px;
  font-weight: bold;
}

/* Blinking effect */
.blink {
  animation: blink 2s infinite;
}

/* Bell animation */
.blink::after {
  content: " 🔔";
  display: inline-block;
  animation: bell 1s infinite;
}

/* Blink keyframe */
@keyframes blink {
  50% {
    opacity: 0;
  }
}

/* Bell shake */
@keyframes bell {
  0% { transform: rotate(0); }
  25% { transform: rotate(15deg); }
  50% { transform: rotate(0); }
  75% { transform: rotate(-15deg); }
  100% { transform: rotate(0); }
}

/* Marquee */
.marquee {
  overflow: hidden;
  background: #eed00e;
  color: #e70909;
  padding: 10px 0;
}

.track {
  display: flex;
  width: max-content;
  animation: scroll 18s linear infinite;
}

.content {
  white-space: nowrap;
  padding-right: 120px;
  font-size: 18px;
  font-weight: bold;
}

/* Continuous scroll */
@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

/* Pause on hover */
.marquee:hover .track {
  animation-play-state: paused;
}


@media only screen and (max-width:1130px){
    .hello1{
        flex-direction: column;
    }
    .hello{
        height:400px;
        flex-direction: column;
        transition: all 0.7s ease-out;
    }    
    .rightnav{
        text-align: center;
    }
    .box-main{
        flex-direction: column-reverse;
        max-width: 100%;
    }
    #search{
        width:100%;
    }
    .burger{
    display:block;
    }
    .burgerleft{
    display:block;
    position:absolute;
    cursor:pointer;
    right:17%;
    top:19px;
    left:4%;
    }
    .text-burgerleft{
        display:flex;
        text-align: center;
        font-size:24px;
        color: rgb(10, 233, 17); 
        font-family:cursive;
    }
    .h-nav-resp{
        height:70px;
    }
    .v-class-resp{
        opacity: 0;
    }
    .text-bigheader{
        display:block;
        display:none;
        font-size:25px;
        color:rgb(11, 228, 58);
    }
    .text-big{
        text-align: center;
        font-size:29px;
        font-family:arial rounded MT bold;
    }
    .text-bigdev{
        font-size:22px;
        text-align: center;
        font-family:Bell MT;
    }
    .text-small{
        text-align: center;
  /*      text-align: justify; */
    }
    .section{
        flex-direction: column-reverse;
    }
    .sectionmainteam{
        flex-direction: column-reverse;
    }
    .text-big1{
        text-align: center;
    }
    .text-bigmid{
        font-size: 22px;
        text-align: center;
        margin-top:-35px;  
    }
    .text-small{
        text-align: center;
  /*      text-align: justify; */
    }
    .text-sub{
    font-size: 16px;
    font-family: initial;
    text-align: center;
    }
    .secondhalf img{
    width:70%;
    border:2px solid #00FFFF;
    border-radius: 180px;
    display: block;
    margin: auto;
    margin-bottom: 24px;
    }
    .text-smallhindi{
    font-size:18px;
    text-align: center;
    }
    .text-small1{
    font-size:17px;
    text-align:start;
    }
    .text-teamsmall{
    text-align: center;
    margin-top:-5px;
    }
    .thumbnail img{
    margin :5px; 
    }
    .text-whyus{
        text-align: justify;
        justify-content: space-evenly;
        text-align-last: center;
    }
    .sectionwhyus{
    flex-direction: column-reverse;
    justify-content: space-evenly;
    display:flex;
    align-items: center;
    max-width:80%;
    margin:auto;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    .thumbnailwhyus img{
    width:250px;
    border:2px solid #00FFFF;
    border-radius:160px;
    margin:35px; 
    margin-top: 10px;  
    }
    .paraswhyus{
    width: 250px;
    border:2px solid rgb(252, 252, 252);
    padding:18px;
    border-radius: 40px;
    margin-left: 10px;
    background-color: white;
    }
    .notewhyus{
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
    margin:12px;
    margin-left:35px;
    padding:12px;
    }
    .sectionaboutus{
    justify-content: space-evenly;
    display:flex;
    align-items: center;
    max-width:80%;
    margin:auto;
    font-family: Bell MT;
    }
    .text-aboutus{
    color:rgb(15, 6, 6);
    font-family:Bell MT;
    font-size:18px;
    text-align: center;
}
    .parasaboutus{
    width: 250px;
    border:2px solid rgb(252, 252, 252);
    padding:18px;
    border-radius: 40px;
    margin-left: 10px;
    background-color: white;
    }
    .sectionmainteam{
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    max-width:80%;
    margin:auto;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    .thumbnailteam img{
    width:150px;
    border:2px solid #00FFFF;
    border-radius: 80px;
    margin:auto;
    }
    .thumbnailteam1 img{
    width:150px;
    border:2px solid #00FFFF;
    border-radius: 80px;
    margin:auto;
    }
    .courseimg img{
     width:350px;
    height:450px;
    margin: auto;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    }
    .sectionmainteam{
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    max-width:80%;
    margin:auto;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    .sectionsectionteam-left{
    flex-direction: column-reverse;
    margin:auto;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    max-width:80%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    .text-footer1{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 70%;
    margin:auto;
    }
    .text-footer2{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 70%;
    margin:auto;
    }
    .text-footer2 {
    flex-direction: column;
    gap: 30px;  
    } 
    .watchgallery{
    flex-direction: column-reverse;
    text-align: justify;
    justify-content: center;
    padding-left:98px;
    } 
    .link{
    margin-top: 0%;
    border: 2px solid rgb(8, 234, 106);
    border-radius: 8px;
    background:none;
    color:rgb(127, 127, 241);
    }
    .link1{
    margin-top: 0%;
    text-align: justify;
    justify-content: center;
    background:none;
    color:white;
    padding:12px;
    }
    .watchgallery  a:hover{
    background-color: #fbfcfc;
    color:rgb(7, 224, 235);
    }
    .firstSection{
    height:110vh;
}
}